name: DevSecOps CD Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      # 1. Get the Code
      - name: Checkout Code
        uses: actions/checkout@v3

      # 2. Security Check (SAST) - Fail if bad code found
      - name: Security Check - Bandit
        run: |
          pip install bandit
          bandit -r .

      # 3. Log in to Azure (Using the Secret you just added)
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # 4. Log in to your Private Registry (ACR)
      - name: ACR Login
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.REGISTRY_USERNAME }}.azurecr.io
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      # 5. Build and Push the Image to the Cloud
      - name: Build and Push Docker Image
        run: |
          # Tag the image with the registry name
          docker build -t ${{ secrets.REGISTRY_USERNAME }}.azurecr.io/my-secure-app:latest .
          # Push it up
          docker push ${{ secrets.REGISTRY_USERNAME }}.azurecr.io/my-secure-app:latest

      # 6. Deploy to Azure Container Instances (ACI)
      - name: Deploy to ACI
        uses: azure/aci-deploy@v1
        with:
          resource-group: devsecops-rg
          dns-name-label: fazeelabacr2026-app # Your DNS from Terraform output
          image: ${{ secrets.REGISTRY_USERNAME }}.azurecr.io/my-secure-app:latest
          name: devsecops-container
          registry-username: ${{ secrets.REGISTRY_USERNAME }}
          registry-password: ${{ secrets.REGISTRY_PASSWORD }}
          location: eastus
          ports: 80
